
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Get Cosy</h2>
<p>
    Get Cosy offers a selection of boutique Irish holiday room rentals located in
    several counties accross the most scenic areas of Ireland. Our properties are all of an extremely high
    standard & most are close to local amenities.
    Get Cosy is an Irish owned company dedicated to helping you find your perfect 
    home away from home holiday accommodation.
    We pride ourselves in knowing all our locations personally & our
    team can answer any question you may have regarding your self-catering room
    rental accommodation in Ireland.
</p>
<p>
    Our @Html.ActionLink("Attractions", "Index", "Attractions") page will provide you with information on local attractions which will make your stay complete.
    Our personal account facility allows you to @Html.ActionLink("Login", "Registration", "Guest") and easily keep track of your bookings, your personal information and
    provide any feedback to us.
</p>
<p>Please don’t hesitate in contacting us at any stage if we can be of any further assistance in helping you 
    book your holiday home accommodation in Ireland - happy holiday hunting!</p>


