
@{
    ViewBag.Title = "Rooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="line1 headline">Rooms</h1>

<section>

    <div class="rooms_container">
        <div class="rooms_container_rightimage">
            <div class="rooms_desc_column rightmargin">
                <div class="rooms_desc_header">
                    <h2>Address with link to google maps</h2>
                </div>
                <div class="rooms_desc_section1">
                    <div>&#x2714; Free Wifi</div>
                    <div>&#x2714; Breakfast</div>
                </div>
                <div class="rooms_desc_section2">
                    <div class="iconlist"><img src="~/Content/Icons/room-person.png" alt="icon-sleep"><div>Sleeps up to: 1</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-single_bed.png" alt="icon-single bed"><div>Single Bed</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-shower.png" alt="icon-shower"><div>Shower</div></div>
                </div>
                <div class="rooms_desc_section3">
                    <h3>Facilities</h3>
                </div>
                <div class="rooms_desc_section4">
                    <div class="iconlist"><img src="~/Content/Icons/room-alarm_clock.png" alt="icon-alarm clock"><div>Alarm clock</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-color_tv.png" alt="icon-color tv"><div>Colour television</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-fire_alarm.png" alt="icon-fire alarm"><div>Fire Alarm</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-hair_dryer.png" alt="icon-hair dryer"><div>Hair dryer</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-iron.png" alt="icon-iron"><div>Iron</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-non_smoking.png" alt="icon-non-smoking"><div>Non-smoking</div></div>
                </div>
            </div>
            <div class="rooms_gallery_column">
                <img class="rooms_gallery_img" src="~/Content/Images/Rooms/0003-1.jpg" alt="Single Room">
                <div class="rooms_gallery_thumb">
                    <img src="~/Content/Images/Rooms/0003-1.jpg" alt="Single Room">
                    <img src="~/Content/Images/Rooms/0003-2.jpg" alt="Bathroom">
                </div>
            </div>
        </div>

        @* -------------------------------------------------------------------------------------------------------------------------------------------------
        Button linkning to booking form - once clicked, booking form should open with the proper room displayed in the first row
        After selecting days in the booking form it should calculate and automatically refresh/display the total price depending on a number of days
        -------------------------------------------------------------------------------------------------------------------------------------------------*@
        <div class="rooms_booking">
            <h2>Book now:</h2>
            <h1>&euro;66&nbsp;<span>/per night</span></h1>
        </div>
    </div>


    <div class="rooms_container">
        <div class="rooms_container_leftimage">
            <div class="rooms_desc_column leftmargin">
                <div class="rooms_desc_header">
                    <h2>Address with link to google maps</h2>
                </div>
                <div class="rooms_desc_section1">
                    <div>&#x2714; Free Wifi</div>
                    <div>&#x2714; Breakfast</div>
                </div>
                <div class="rooms_desc_section2">
                    <div class="iconlist"><img src="~/Content/Icons/room-person.png" alt="icon-sleep"><div>Sleeps up to: 2</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-double_bed.png" alt="icon-double bed"><div>Double Bed</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-shower.png" alt="icon-shower"><div>Shower</div></div>
                </div>
                <div class="rooms_desc_section3">
                    <h3>Facilities</h3>
                </div>
                <div class="rooms_desc_section4">
                    <div class="iconlist"><img src="~/Content/Icons/room-alarm_clock.png" alt="icon-alarm clock"><div>Alarm clock</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-color_tv.png" alt="icon-color tv"><div>Colour television</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-fire_alarm.png" alt="icon-fire alarm"><div>Fire Alarm</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-hair_dryer.png" alt="icon-hair dryer"><div>Hair dryer</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-iron.png" alt="icon-iron"><div>Iron</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-non_smoking.png" alt="icon-non-smoking"><div>Non-smoking</div></div>
                </div>
            </div>
            <div class="rooms_gallery_column">
                <img class="rooms_gallery_img" src="~/Content/Images/Rooms/0001-1.jpg" alt="Double Room">
                <div class="rooms_gallery_thumb">
                    <img src="~/Content/Images/Rooms/0001-1.jpg" alt="Double Room">
                    <img src="~/Content/Images/Rooms/0001-2.jpg" alt="Bathroom">
                </div>
            </div>
        </div>
        <div class="rooms_booking">
            <h2>Book now:</h2>
            <h1>&euro;89&nbsp;<span>/per night</span></h1>
        </div>
    </div>


    <div class="rooms_container">
        <div class="rooms_container_rightimage">
            <div class="rooms_desc_column rightmargin">
                <div class="rooms_desc_header">
                    <h2>Address with link to google maps</h2>
                </div>
                <div class="rooms_desc_section1">
                    <div>&#x2714; Free Wifi</div>
                    <div>&#x2714; Breakfast</div>
                </div>
                <div class="rooms_desc_section2">
                    <div class="iconlist"><img src="~/Content/Icons/room-person.png" alt="icon-sleep"><div>Sleeps up to: 3</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-single_bed.png" alt="icon-single bed"><div>Single Bed: 3</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-shower.png" alt="icon-shower"><div>Shower</div></div>
                </div>
                <div class="rooms_desc_section3">
                    <h3>Facilities</h3>
                </div>
                <div class="rooms_desc_section4">
                    <div class="iconlist"><img src="~/Content/Icons/room-alarm_clock.png" alt="icon-alarm clock"><div>Alarm clock</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-color_tv.png" alt="icon-color tv"><div>Colour television</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-fire_alarm.png" alt="icon-fire alarm"><div>Fire Alarm</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-hair_dryer.png" alt="icon-hair dryer"><div>Hair dryer</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-iron.png" alt="icon-iron"><div>Iron</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-non_smoking.png" alt="icon-non-smoking"><div>Non-smoking</div></div>
                </div>
            </div>
            <div class="rooms_gallery_column">
                <img class="rooms_gallery_img" src="~/Content/Images/Rooms/0004-1.jpg" alt="Triple Room">
                <div class="rooms_gallery_thumb">
                    <img src="~/Content/Images/Rooms/0004-1.jpg" alt="Triple Room">
                    <img src="~/Content/Images/Rooms/0004-2.jpg" alt="Bathroom">
                </div>
            </div>
        </div>
        <div class="rooms_booking">
            <h2>Book now:</h2>
            <h1>&euro;99&nbsp;<span>/per night</span></h1>
        </div>
    </div>


    <div class="rooms_container">
        <div class="rooms_container_leftimage">
            <div class="rooms_desc_column leftmargin">
                <div class="rooms_desc_header">
                    <h2>Address with link to google maps</h2>
                </div>
                <div class="rooms_desc_section1">
                    <div>&#x2714; Free Wifi</div>
                    <div>&#x2714; Breakfast</div>
                </div>
                <div class="rooms_desc_section2">
                    <div class="iconlist"><img src="~/Content/Icons/room-person.png" alt="icon-sleep"><div>Sleeps up to: 4</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-double_bed.png" alt="icon-double bed"><div>Double Bed</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-single_bed.png" alt="icon-single bed"><div>Single Bed: 2</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-shower.png" alt="icon-shower"><div>Shower</div></div>
                </div>
                <div class="rooms_desc_section3">
                    <h3>Facilities</h3>
                </div>
                <div class="rooms_desc_section4">
                    <div class="iconlist"><img src="~/Content/Icons/room-alarm_clock.png" alt="icon-alarm clock"><div>Alarm clock</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-color_tv.png" alt="icon-color tv"><div>Colour television</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-fire_alarm.png" alt="icon-fire alarm"><div>Fire Alarm</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-hair_dryer.png" alt="icon-hair dryer"><div>Hair dryer</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-iron.png" alt="icon-iron"><div>Iron</div></div>
                    <div class="iconlist"><img src="~/Content/Icons/room-non_smoking.png" alt="icon-non-smoking"><div>Non-smoking</div></div>
                </div>
            </div>
            <div class="rooms_gallery_column">
                <img class="rooms_gallery_img" src="~/Content/Images/Rooms/0002-1.jpg" alt="Family Room">
                <div class="rooms_gallery_thumb">
                    <img src="~/Content/Images/Rooms/0002-1.jpg" alt="Family Room">
                    <img src="~/Content/Images/Rooms/0002-2.jpg" alt="Bathroom">
                </div>
            </div>
        </div>
        <div class="rooms_booking">
            <h2>Book now:</h2>
            <h1>&euro;116&nbsp;<span>/per night</span></h1>
        </div>
    </div>

</section>


