@model WebAndCloudCA.Models.Hostel
    
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/Styles.css" type="text/css" />
</head>
<body>
    <div id="main">
        @*/Home/Index*@
        <form action='@Url.Action("Index","Home")' method="post">

            @*To Do: Create dropdown list for No. of Guests. CSS for search*@
            <p class="search">
                <label class="label">Where do you want to go? </label>
                @Html.EnumDropDownListFor(h => h.CountyList)
            </p>
            <p class="search">
                <label class="label">Check In </label>
                <input type="date" name="txtCheckin" />
            </p>
            <p class="search">
                <label class="label">Check Out </label>
                <input type="date" name="txtCheckOut" />
            </p>
            <p class="search">
                <label class="label">Guests </label>
                <input type="text" name="txtGuests" value="1-10" />
            </p>
            <p class="search">
                <input id="Submit1" type="submit" value="Search" />
            </p>

        </form>
    </div>
</body>
</html>


