
@{
    ViewBag.Title = "Index";
}

<h2>Attractions</h2>

<section class="section_attractions">
    <h1 class="line1 whitefont">Tours</h1>
    <div class="imageright_attractions">
        <a href="https://www.connemara.net" target="_blank">
            <img src="images/connemara.jpg" alt="Connemara" title="Connemara">
            <h1>Connemara</h1>
            <h2><span class="firstletter">S</span>urrounded affronting favourable no mr. Lain knew like half she yet joy. Be than dull as seen very shot. Attachment ye so am travelling estimating projecting is. Off fat address attacks his besides. Suitable settling mr attended no doubtful feelings. Any over for say bore such sold five but hung.</h2>
        </a>
    </div>
    <div class="imageleft_attractions">
        <a href="https://www.cliffsofmoher.ie" target="_blank">
            <img src="images/cliffs-of-moher.jpg" alt="Cliffs of Moher" title="Cliffs of Moher">
            <h1>Cliffs of Moher</h1>
            <h2><span class="firstletter">D</span>elightful unreserved impossible few estimating men favourable see entreaties. She propriety immediate was improving. He or entrance humoured likewise moderate. Much nor game son say feel. Fat make met can must form into gate. Me we offending prevailed discovery.</h2>
        </a>
    </div>
    <div class="imageright_attractions">
        <a href="http://www.aranislands.ie" target="_blank">
            <img src="images/aran-islands.jpg" alt="The Aran Islands" title="The Aran Islands">
            <h1>The Aran Islands</h1>
            <h2><span class="firstletter">C</span>onsidered discovered ye sentiments projecting entreaties of melancholy is. In expression an solicitude principles in do. Hard do me sigh with west same lady. Their saved linen downs tears son add music. Expression alteration entreaties mrs can terminated estimating. Her too add narrow having wished. To things so denied admire.</h2>
        </a>
    </div>
    <div class="imageleft_attractions">
        <a href="https://www.lonelyplanet.com/ireland/county-galway/galway-city" target="_blank">
            <img src="images/galwaycity.jpg" alt="Galway City" title="Galway City">
            <h1>Galway City</h1>
            <h2><span class="firstletter">E</span>cstatic advanced and procured civility not absolute put continue. Overcame breeding or my concerns removing desirous so absolute. My melancholy unpleasing imprudence considered in advantages so impression. Almost unable put piqued talked likely houses her met. Met any nor may through resolve entered. An mr cause tried oh do shade happy.</h2>
        </a>
    </div>
</section>

<section class="section_attractions">
    <h1 class="line1 whitefont">Facilities</h1>
    <div class="facilities_flex">
        <div class="facilities_flex_border">
            <a href="http://www.eyresquarecentre.com" target="_blank">
                <img src="images/shopping.jpg" alt="Shopping" title="Shopping">
                <div class="centredesc">SHOPPING</div>
            </a>
        </div>
        <div class="facilities_flex_border">
            <a href="https://www.galwaytourism.ie/ptop-5-beaches.html" target="_blank">
                <img src="images/beach.jpg" alt="Sandy beaches" title="Sandy Beaches">
                <div class="centredesc">SANDY BEACHES</div>
            </a>
        </div>
        <div class="facilities_flex_border">
            <a href="https://www.wildatlanticway.com/stories/hiking-and-walking/coastal-walks" target="_blank">
                <img src="images/coastal_walks.jpg" alt="Coastal Walks" title="Coastal Walks">
                <div class="centredesc">COASTAL WALKS</div>
            </a>
        </div>
        <div class="facilities_flex_border">
            <a href="https://www.tripadvisor.ie/Restaurants-g186609-Galway_County_Galway_Western_Ireland.html" target="_blank">
                <img src="images/restaurant.jpg" alt="Restaurants" title="Restaurants">
                <div class="centredesc">RESTAURANTS</div>
            </a>
        </div>
        <div class="facilities_flex_border">
            <a href="http://www.galwaycitypubguide.com/top-ten-galway-pubs.html" target="_blank">
                <img src="images/pub.jpg" alt="Irish Music Pubs" title="Irish Music Pubs">
                <div class="centredesc">IRISH MUSIC PUBS</div>
            </a>
        </div>
        <div class="facilities_flex_border">
            <a href="https://www.tripadvisor.ie/Attractions-g186607-Activities-c61-t62-County_Galway_Western_Ireland.html" target="_blank">
                <img src="images/horse_riding.jpg" alt="Horse-Riding" title="Horse-Riding">
                <div class="centredesc">HORSE-RIDING</div>
            </a>
        </div>
        <div class="facilities_flex_border">
            <a href="http://blog.galwaytourism.ie/2014/02/the-top-10-golf-courses-in-county-galway.html" target="_blank">
                <img src="images/golfing.jpg" alt="Golfing" title="Golfing">
                <div class="centredesc">GOLFING</div>
            </a>
        </div>
        <div class="facilities_flex_border">
            <a href="http://www.galwaybayfishing.com/" target="_blank">
                <img src="images/fishing.jpg" alt="Fishing" title="Fishing">
                <div class="centredesc">FISHING</div>
            </a>
        </div>
        <div class="facilities_flex_border">
            <a href="https://www.viator.com/Galway-tours/Water-Sports/d5156-g17" target="_blank">
                <img src="images/water_sports.jpg" alt="Water Sports" title="Water Sports">
                <div class="centredesc">WATER SPORTS</div>
            </a>
        </div>
        <div class="facilities_flex_border">
            <a href="http://westirelandcycling.com/" target="_blank">
                <img src="images/cycling.jpg" alt="Bike Hire" title="Bike Hire">
                <div class="centredesc">BIKE HIRE</div>
            </a>
        </div>
    </div>

</section>