@using System.Xml
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}


<h1 class="line1 headline">Frequently Asked Questions</h1>

@foreach (XmlNode node in (XmlNodeList)ViewBag.List)
{    
        <div class="question" id="question">@node["question"].InnerText</div>
        <div class="answer" id="answer">@node["answer"].InnerText</div>            
}

