@using System.Xml
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}


<h1 class="line1 headline">Frequently Asked Questions</h1>

@foreach (XmlNode node in (XmlNodeList)ViewBag.List)
{
    <div>
        <div class="question">@node["question"].InnerText</div>
        <div class="answer">@node["answer"].InnerText</div>        
    </div>
}

